body{
    font-weight: bold;
}
.container{
    margin-top: 150px;
    background-color: #353535;
    height: auto;  
    border-radius: 8px; 
}
.container .row{
    height: 110px;
    border: 2px solid black;
    border-radius: 8px;
}
.container .row .col{
    text-align: center;
    border-right: 2px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container .row .col div{
    margin-top: auto;
}
.container .row .col p{
    padding-top: 20px;
}
.active p{
    color: green;
    font-weight: bold;
}
.active i {
    color: green;
}
